<!-- templates/partials/edit_students/additional_info.html -->
<div class="form-section">
    <h5 class="section-title">Дополнительно</h5>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="telegram_id" class="form-label">Telegram ID</label>
            <input type="number" class="form-control" id="telegram_id" name="telegram_id">
        </div>
        <div class="col-md-3 mb-3">
            <label for="parent1" class="form-label">Родитель 1 ID</label>
            <input type="number" class="form-control" id="parent1" name="parent1">
        </div>
        <div class="col-md-3 mb-3">
            <label for="parent2" class="form-label">Родитель 2 ID</label>
            <input type="number" class="form-control" id="parent2" name="parent2">
        </div>
    </div>
</div>